#container {
  position: relative;
  width: 48vw;
  height: 48vw;
  background: url(clock.png) no-repeat;
  background-size: contain;
  margin: auto;
}
#hour,
#minute,
#second {
  position: absolute;
  transform-origin: bottom;
}
#hour {
  width: 2%;
  height: 19%;
  background-color: rgb(204, 144, 32);
  top: 36.7%;
  left: 42.33%;
  border-radius: 10px;
}
#minute {
  width: 1.5%;
  height: 25%;
  background-color: rgb(150, 173, 17);
  top: 30.7%;
  left: 42.51%;
  border-radius: 10px;
}
#second {
  width: 1%;
  height: 29%;
  background-color: rgb(24, 148, 148);
  top: 26.7%;
  left: 42.7%;
  border-radius: 10px;
}
